/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background: #fff;
}

header {
    background: linear-gradient(to right, #65C7F7, #0052D4);
    padding: 5px 0px;
    z-index: 1;
    position: fixed;
    width: 100%;
}
.batal {
    margin-left: 80%;
    margin-top: -26%;
}
.title {
    padding: 20px 0;
    margin-bottom: 10px;
    text-align: center;
    color: #fff
}
.title h3 {
    font-size: 50px;
    color: #000000;
}
.title p{
    color: #000;
}
.logo {
    font-size: 33px;
    font-family: comic sans ms;
}
.slider {
    line-height: 10px;
}
.service{
  background: #fff;
}
.service p {
    background: #1fb4e4;
    color: #fff;
    border-radius: 50px;
    font-size: 30px;
    transition: .5s;
    height: 65px;
    width: 65px;
    text-align: center;
    padding: 8px;
}
.service p:hover {
    background: #1997c0;
    color: #fff;
}
.service_col {
    margin-bottom: 100px;
    margin-left: 5%;
}
.service_ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    padding: 10px 15px;
    color: #000;
    font-family: sans-serif;
}
.about {
    background: #fff;
    padding: 20px 0;
}
.about_main_area{
  margin-top: 100px;
  margin-bottom: 100px;
}
.about h3 {
    font-size: 50px;
    border-bottom: 1px solid #000;
}
.about p {
    text-align: justify;
    line-height: 20px;
}

section.pricing {
  background: url(../img/pricing.jpg) no-repeat;
}
.pricing_social {
  background: #fbfbfb;
}

.price .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.price .card-title {
    margin: 0.5rem 0;
    font-size: 39px;
    letter-spacing: .1rem;
    font-weight: bold;
}

.price .card {
    border: none;
    transition: all 0.2s;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.card{
    border-radius: 10px
}

.card-body{
    background: #9CECFB;
}

.price .card-price .period {
  font-size: 0.8rem;
}

.price ul li {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ededed;
    padding: 13px;
    text-align: center;
}
.price ul li:last-child {
    border-bottom: 0;
}

.price .text-muted {
  opacity: 0.7;
}

.price .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}
.card_head_1{
    background: #FEE34A;
    border-radius: 10px 10px 0px 0px;
}
.card_head_2{
    background: #FF664C;
    border-radius: 10px 10px 0px 0px;
}
.card_head_3{
    background: #FF4B68;
    border-radius: 10px 10px 0px 0px;
}
.card_head_4{
    background: #19A15E;
    border-radius: 10px 10px 0px 0px;
}

.card_ul {
    height: 300px;
}
/* Hover Effects on Card */

@media (min-width: 992px) {
  .price .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .price .card:hover .btn {
    opacity: 1;
  }
}
.trusted{
  padding: 50px 0
}
.trust_main{
  background: #0092F0;
  overflow: hidden;
}
.trustedimg {
    background: #009688;
}
.payment ul{
  margin: 0;
  padding: 0;
  list-style: none
}
.payment ul li{
  float: left;
  padding: 10px
}
.payment ul li img {
  width: 100px;
  height: 60px;
}

.footer_main_menu{
  background: #10186A;
  padding: 100px 0
}
.footer_main_menu h3{
  color: #fff;
  border-bottom: 1px solid #000;
}
.footer_main_menu p{
  color: #fff;
}
.footer_menu li a{
  display: block;
  color: #fff;
  text-decoration: none
}
footer{
  background: #2F2F2F;
}
.footer{
  color: #fff;
  padding: 20px 0;
  margin-bottom: 0;
  float: right !important;
}
.footer_main{
  text-align: right !important;
}

.uk-position-bottom {
    bottom: 250px;
}
.uk-overlay-primary {
    background: transparent;
}

.partners{
    background: #009688;
}

.partners_main_area{
    margin-top: 100px;
    margin-bottom: 100px;009688
}


/* Pages */
.pages_card {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.pages_card a{
  text-decoration: none;
  color: #000;
}
.pages_card h3{
  font-weight: bold;
}

/* tab */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.nav-link:hover {
  color: #fff !important;
}

.toolt {
  position: relative;
  display: inline-block;
}

.toolt .tooltiptext {
  visibility: visible;
  background-color: #4A8AF4;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -41px;
}

.toolt .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4A8AF4 transparent transparent transparent;
}